.top {
  display: flex;
  flex-direction: column-reverse;
}

.button_type_editor {
  background: none;
  cursor: pointer;
}
.shoot-img {
  width: 60px;
}

.editor-header {
  display: flex;

  align-items: center;
  justify-content: center;
}

.editor {
  z-index: 20;
  padding: 25px;
  height: auto;
  max-width: 920px;
  background: linear-gradient(140deg, rgb(207, 47, 152), rgb(106, 61, 236));
  box-shadow: rgb(0 0 0 / 10%) 0 3px 13px;
}

.editor__title-img {
  margin-right: auto;
}

.editor__title {
  background-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  background-color: #c231a438;
  border: none;
  color: #e6b442;
  text-align: center;
  font-size: 25px;
  border-radius: 7px;
  margin-right: auto;
}

.editor__frame {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
}

.editor__area {
  height: auto;
  font-size: 16px;
  min-width: 350px;
}

@media only screen and (max-width: 450px){
  .editor__area {
    min-width: 150px;
    max-width: 340px;
  }
}

.ͼ15 .cm-gutters {
  display: none;
}

.cm-s-material.CodeMirror {
  background-color: transparent!important;
  color: rgba(233,237,237,1);

}
.ͼ1.cm-editor {
  background-color: transparent!important;
}

.cm-activeLine {
  background-color: transparent!important;
}