.editor {
  z-index: 20;
  padding: 27px;
  height: auto;
  max-width: 920px;
  background: linear-gradient(140deg, rgb(207, 47, 152), rgb(106, 61, 236));
  box-shadow: rgb(0 0 0 / 10%) 0 3px 13px;
}

.editor__frame {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  border-radius: 12px;
  padding: 16px;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.editor__area {
  height: auto;
  font-size: 16px;

}


.ͼ15 .cm-gutters {
  display: none;
}

.cm-s-material.CodeMirror {
  background-color: #263238;
  color: rgba(233,237,237,1);
}