.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main__editor-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.ͼ15 .cm-gutters {
    display: none;
}